<form action="/">
  <div class="form-group">
    <label for="search_text">Search text</label>
    <input id="search_text" name="search_text" class="form-control" type="text" value="<%= @search_text %>">
  </div>
  <button type="submit" class="btn">Search!</button>
</form>
